<html>

<body>

<!--Summary--> 
Provides layout managers for use with all components and window types.
<p>

<!--Detailed Description--> 
Layout managers arrange components on the screen. These managers complement the
existing collection available in the standard Java APIs. These managers have
been sourced from around the web and transformed to our liking.

<h2>Related Documentation</h2>
For additional online resources for layout managers  refer to:

<!--Doco links-->
<ul>
  <li><a href="http://www.swtech.com/java/guidev/layout/">
      Software Technologies Layout Manager Guide</a>
  <li><a href="http://www.softbear.com/people/larry/javalm.htm">
      Layout Manager Launch</a>
</ul>

<!--Java package/class references-->

<!-- 
  Put @see tags here, if any. 
-->

</body>
</html>
